<h1 id="h1">Comedies</h1>

<div class="row">
	<div ui-sref="show({showID:'{{s.series}}'})"class="col-md-2 box" ng-repeat="s in comedies">
		<p id="genre">{{s.series}}</p>
		<img src="{{s.url}}" />
	</div>
</div>

<h1 id="h1">Thrillers</h1>
<div class="row">
	<div ui-sref="show({showID:'{{s.series}}'})"class="col-md-2 box" ng-repeat="s in thrillers">
		<p id="genre">{{s.series}}</p>
		<img src="{{s.url}}" />
	</div>
</div>

<h1 id="h1">Action</h1>
<div class="row">
	<div ui-sref="show({showID:'{{s.series}}'})"class="col-md-2 box" ng-repeat="s in actions">
		<p id="genre">{{s.series}}</p>
		<img src="{{s.url}}" />
	</div>
</div>

<h1 id="h1">Dramas</h1>
<div class="row">
	<div ui-sref="show({showID:'{{s.series}}'})"class="col-md-2 box" ng-repeat="s in dramas">
		<p id="genre">{{s.series}}</p>
		<img src="{{s.url}}" />
	</div>
</div>