<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="All Shows">
        <md-content class="md-padding">
          <h1 class="md-display-2">All Shows</h1>
          <div data-a-shows label="All Shows" shows="allTvShows"></div>
        </md-content>
      </md-tab>
      <md-tab label="Add a show">
        <md-content class="md-padding">
          <div data-cr-show></div>
        </md-content>
      </md-tab>
      <md-tab label="Delete a show">
        <md-content class="md-padding">
          <div data-del-show label="Delete a show"></div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>