/*
	font-family: 'Bevan', cursive;
	font-family: 'Pontano Sans', sans-serif;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Cantarell', sans-serif;
*/

body {
	background-image: url('/assets/images/whitePolyBG.jpg');
	background-repeat: no-repeat;
	min-height: 1000px;
	height: auto;
}
.container {
	background: #e8dcc5;
	min-height: 800px;
}

.navbar {
	height: 85px;
	width: 100%;
	border-radius: 5px;
	background-color: #1a1a1a;
	-webkit-box-shadow: 0 20px 5px -7px #4d4d4d;

}

.name {
	margin-left: 30px;
	display: inline-block;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.name:hover
{
	opacity: 0.5;
	cursor: pointer;
}

.name h1 {
	font-family: 'Bevan', cursive;
	color: #800000;
	display: inline-block;
}

.name h2 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 35px;
	color: #ffe6b3;
	display: inline-block;
	margin-left: 20px;
}

.browse {
	display: inline-block;
	color:  #990000;
	margin-right: 30px;
	
}

.search {
	display: inline-block;
	color: #d9d9d9;

}
.browse {
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}
.browse:hover {
	opacity: 0.7;
	cursor: pointer;
}
.browse p {
	font-size: 15px;
	display: inline-block;
	font-family: 'Cantarell', sans-serif;
}

.search p {
	display: inline-block;
	font-family: 'Cantarell', sans-serif;
}

.find {
	float: right;
	margin-top: 30px;
	margin-right: 80px;
}

.panel-default {
	margin-top: 30px;
}

#search {
	background-color: #d9d9d9;
	color: gray;
	border-radius: 2px;
	border-collapse: collapse;
	border-style: none;
	-webkit-box-shadow: 0 10px 10px -7px gray;

}

.header {
	border-radius: 5px;
	width: 100%;
	height: 150px;
	background-color: #800000;
	opacity: 0.7;
	text-align: center;
	margin: 40px 0px 40px 0px;

}

#h1 {
	text-align: center;
	color: ghostwhite;
	font-family: 'Fjalla One', sans-serif;
	font-size: 40px;
	padding-top: 40px;
	text-shadow: 5px 5px 5px #000000;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

#h1:hover {
	opacity: 0.7;
	cursor: pointer;
}

#seeMore {
	color: ghostwhite;
	font-family: 'Cantarell', sans-serif;
	padding-left: 20px;
}

.box {
	text-align: center;
	height: 200px;
	width: 200px;
	margin: 40px;
	position: relative;
	box-shadow: 30px 10px 10px gray;
	transition: opacity .55s ease-in-out;
   -moz-transition: opacity .55s ease-in-out;
   -webkit-transition: opacity .55s ease-in-out;
}

.box:hover {
	opacity: 0.5;
	cursor: pointer;
}

.row {
	position: relative;
	left: 60px;
	width: 1000px;
	overflow: auto;
	white-space: nowrap;
}

.row .box {
  display: inline-block;
  float: none;
}

#genre {
	position: absolute;
	top: 160px;
	color: ghostwhite;
	background-color: black;
	width: 100%;
	padding: 10px;
	font-family: 'Cantarell', sans-serif;
	opacity: 0.7;
}

.extra h2
{
	font-family: 'Bevan', cursive;
	color: #800000;
}

.extra h3
{
	font-family: 'Pontano Sans', sans-serif;
}

.extra {
	border-radius: 5px;
	text-align: center;
	width: 100%;
	background-color: white;
	opacity: 0.6;
}

.footer {

	width: 100%;
	height: 300px;
	margin-top: 30px;
	background-color: #800000;
	opacity: 0.7;
}

.admin {
	padding: 20px;
	text-align: center;
	margin-top: 30px;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.admin:hover {
	opacity: 0.5;
	cursor: pointer;

}

.showContent {
	margin: 50px 0px 0px 50px;
}

.showContent h1{
	font-family: 'Fjalla One', sans-serif;
	padding: 0px;
}

.showContent h2{
	font-family: 'Cantarell', sans-serif;
}
.showContent p{
	width: 60%;
	font-family: 'Pontano Sans', sans-serif;
}

.showFrame {
	margin-top: 20px;
}

.specs {
	position: relative;
	top: 30px;
	left: 30px;
	font-size: 15px;
	display:inline-block;
}

.dImage {
	margin-top: 0px;
}

.about {
	display: inline-block;
	position: relative;
	bottom: 225;
	left: 30;
}

::-webkit-scrollbar {
	height: 8px;
    width: 12px;
}
 
::-webkit-scrollbar-track {
	background-color: ghostwhite;
    -webkit-box-shadow: 10px 10px 10px black; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
	background-color: black;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px black; 
}

.md-content {
  background-color: red; 
}
.md-padding {
	background: ghostwhite;
}
.md-padding h1 {
	color: black;
	font-family: 'Pontano Sans', sans-serif;
}

.md-padding p {
	color: black;
	font-family: 'Cantarell', sans-serif;
}

.md-tab {
    background: #f6f6f6;
    border: 1px solid #f6f6f6; 
    font-family: 'Pontano Sans', sans-serif;
}
.md-tabs md-tabs-wrapper {
      background: orange;
}
.md-content h1:first-child {
    margin-top: 0;
    color: white; 
}
