<h1>{{label}}</h1>
<div class="col-md-2" ng-repeat="s in shows">
    <span><img src="http://placehold.it/280x180" />{{s.genres}}</span>
  </div>  

<!--
//    '<div class"well">' +
//      '<div id="myCarousel" class="carousel slide" data-ride="carousel">' +
 
//        //Wrapper for slides
//        '<div class="carousel-inner" role="listbox">' +
//          '<div class="item active">' +
//            '<div class="row">' +
//                '<div class="col-sm-3 first-box box"><h1 class="list-label">{{label}}</h1></div> '+
//                '<div class="col-sm-3 box" ng-repeat="s in shows">' +
//                  '<img src="{{s.src}}" alt="image">' +
//                '</div>' +
//          '</div>' +// /row
//        '</div>' +// /item active

//     '<div class="item">' +
//      '<div class="row">' +
//          '<div class="col-sm-3">' +
//            '<img src="http://placehold.it/280x180" alt="image">' +
//          '</div>' +
//          '<div class="carousel-caption">...' +
            
//          '</div>' + // /col-sm-3 
//      '</div>' + ///row 
//     '</div'> ... + ///item 
    
//   '</div>' + ///carousel-inner 

//   // Controls 
//   // <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
//   //   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
//   //   <span class="sr-only">Next</span>
//   // </a>/controls

// '</div>' + ///myCarousel
// '</div>', ///well-->