<div class="col-md-6 col-md-offset-3">
    <h2>Delete a show</h2>
    <form name="form" action="/api/post" method="POST" role="form">

        <div class="md-padding" ng-cloak>
          <div>
            <h1 class="md-title">Delete a show</h1>
            <div layout="row">
              <md-input-container>
                <label>Shows</label>
                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                  <md-optgroup label="items">
                    <md-option ng-value="s" ng-repeat="s in shows">{{s.series}}</md-option>
                  </md-optgroup>
                </md-select>
              </md-input-container>
            </div>
          </div>
        </div>

    </form>
</div>